.Modal {
    position: fixed;
    top: 30%;
    left: 30%;
}

.Row {
    width: 30%;
    margin: 3px auto;
    padding: 2px;
    border: 1px solid aqua;
}

.Row div{
    display: inline;
    background-color: aquamarine;
}